.heading {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding: 10px;
}

.centered {
  margin: 0 auto;
  max-width:800px;
  padding: 10px;
}

.table-container {
  max-width: fit-content;
  overflow-x: auto;
}

.drone-map {
  position: relative;
  width: fill-available;
  aspect-ratio: 1 / 1;
  margin: auto;
  background:
    conic-gradient(from 90deg at 1px 1px,#00000099 90deg,black 0) 
    0 0/50px 50px;
  --drone-width: 64px;
}

.drone-on-map {
  position: absolute;
  width: var(--drone-width);
  height: var(--drone-width);
  border-radius: 50%;
  background: url(./drone.png);
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
  z-index:99;
}

.no-fly-zone {
  width: 40%;
  height: 40%;
  position: absolute;
  /*background-color: rgba(255, 0, 0, 0.2);*/
  background:linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)),url(./birdnest02.webp);
  animation: rotation 12s infinite linear;
  background-size:contain;
  border-radius: 50%;
  left: 30%;
  top: 30%;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes pulse {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  50% {
     -webkit-transform: scale(0.8);
     transform: scale(0.8);
  }
  100% {
      -webkit-transform: scale(1);
     transform: scale(1);
  }
}